<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Lists</title>
</head>
<body>
    <main>
        <div>
            <h1>My Lists</h1>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Number of Items</th>
                    </tr>
                <tbody>
                    {% for list in todo_list_list %}
                    <tr>
                        <td><a href="{% url 'todo_list_create' list.id %}"> {{list.name}}</td>
                        <td><a href="{% url 'todo_list_detail' %}"> {{list.name}}</td>
                        <td>{{list.items.all|length}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
                </thead>
            </table>
        </div>
    </main> 
</body>
</html>